n8n-streamlined-examples.json
{
  "name": "AI-Powered Workflow Examples",
  "workflows": [
    {
      "name": "Email Auto-Responder with AI",
      "description": "Automatically respond to emails using your AI rotation system",
      "nodes": [
        {
          "parameters": {
            "pollTimes": {
              "item": [
                {
                  "mode": "everyMinute",
                  "minute": 5
                }
              ]
            },
            "options": {
              "allowUnauthorizedCerts": false,
              "port": 993,
              "secure": true
            }
          },
          "id": "email-trigger",
          "name": "Email Trigger",
          "type": "n8n-nodes-base.emailReadImap",
          "typeVersion": 2,
          "position": [240, 300]
        },
        {
          "parameters": {
            "url": "http://localhost:5000/ai-request",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Content-Type", 
                  "value": "application/json"
                }
              ]
            },
            "sendBody": true,
            "bodyParameters": {
              "parameters": [
                {
                  "name": "prompt",
                  "value": "Please write a professional email response to this message. Be helpful and courteous:\n\nOriginal email:\nFrom: {{ $json.from.text }}\nSubject: {{ $json.subject }}\nMessage: {{ $json.text }}"
                },
                {
                  "name": "model_type",
                  "value": "chat"
                },
                {
                  "name": "max_tokens",
                  "value": 300
                },
                {
                  "name": "temperature",
                  "value": 0.7
                },
                {
                  "name": "system_prompt",
                  "value": "You are a professional customer service representative. Write clear, helpful, and courteous email responses."
                }
              ]
            }
          },
          "id": "ai-response",
          "name": "Generate AI Response",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [460, 300]
        },
        {
          "parameters": {
            "resource": "send",
            "toEmail": "={{ $('Email Trigger').first().json.from.value[0].address }}",
            "subject": "Re: {{ $('Email Trigger').first().json.subject }}",
            "emailFormat": "text",
            "message": "={{ $json.response }}\n\n---\nThis response was generated by AI and reviewed by our team."
          },
          "id": "send-response",
          "name": "Send Response",
          "type": "n8n-nodes-base.gmail",
          "typeVersion": 2.1,
          "position": [680, 300]
        }
      ],
      "connections": {
        "Email Trigger": {
          "main": [
            [
              {
                "node": "Generate AI Response",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Generate AI Response": {
          "main": [
            [
              {
                "node": "Send Response",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      }
    },
    {
      "name": "Content Generator from RSS",
      "description": "Generate social media content from RSS feeds",
      "nodes": [
        {
          "parameters": {
            "url": "https://feeds.feedburner.com/TechCrunch",
            "pollTimes": {
              "item": [
                {
                  "mode": "everyHour",
                  "hour": 2
                }
              ]
            }
          },
          "id": "rss-trigger",
          "name": "RSS Feed",
          "type": "n8n-nodes-base.rssFeedRead",
          "typeVersion": 1,
          "position": [240, 300]
        },
        {
          "parameters": {
            "url": "http://localhost:5000/ai-request",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            },
            "sendBody": true,
            "bodyParameters": {
              "parameters": [
                {
                  "name": "prompt",
                  "value": "Create engaging social media posts for Twitter, LinkedIn, and Instagram based on this article:\n\nTitle: {{ $json.title }}\nContent: {{ $json.contentSnippet }}\nLink: {{ $json.link }}\n\nMake each post platform-appropriate with relevant hashtags."
                },
                {
                  "name": "model_type", 
                  "value": "creative"
                },
                {
                  "name": "max_tokens",
                  "value": 500
                },
                {
                  "name": "temperature",
                  "value": 0.8
                },
                {
                  "name": "system_prompt",
                  "value": "You are a social media expert. Create engaging, platform-specific content that drives engagement and includes relevant hashtags."
                }
              ]
            }
          },
          "id": "generate-content",
          "name": "Generate Social Content",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [460, 300]
        },
        {
          "parameters": {
            "resource": "tweet",
            "text": "={{ $json.response.split('Twitter:')[1].split('LinkedIn:')[0].trim() }}"
          },
          "id": "post-twitter",
          "name": "Post to Twitter",
          "type": "n8n-nodes-base.twitter",
          "typeVersion": 2,
          "position": [680, 200]
        },
        {
          "parameters": {
            "resource": "companyUpdate",
            "updateText": "={{ $json.response.split('LinkedIn:')[1].split('Instagram:')[0].trim() }}"
          },
          "id": "post-linkedin",
          "name": "Post to LinkedIn",
          "type": "n8n-nodes-base.linkedIn",
          "typeVersion": 1,
          "position": [680, 300]
        }
      ],
      "connections": {
        "RSS Feed": {
          "main": [
            [
              {
                "node": "Generate Social Content",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Generate Social Content": {
          "main": [
            [
              {
                "node": "Post to Twitter",
                "type": "main",
                "index": 0
              },
              {
                "node": "Post to LinkedIn", 
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      }
    },
    {
      "name": "Code Review Bot",
      "description": "Automatically review GitHub pull requests",
      "nodes": [
        {
          "parameters": {
            "events": [
              "pull_request"
            ],
            "repository": "owner/repo-name"
          },
          "id": "github-webhook",
          "name": "GitHub PR Webhook", 
          "type": "n8n-nodes-base.githubTrigger",
          "typeVersion": 1,
          "position": [240, 300]
        },
        {
          "parameters": {
            "url": "http://localhost:5000/ai-request",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            },
            "sendBody": true,
            "bodyParameters": {
              "parameters": [
                {
                  "name": "prompt",
                  "value": "Review this pull request for code quality, security issues, and best practices:\n\nPR Title: {{ $json.pull_request.title }}\nDescription: {{ $json.pull_request.body }}\nFiles changed: {{ $json.pull_request.changed_files }}\nAdditions: +{{ $json.pull_request.additions }}\nDeletions: -{{ $json.pull_request.deletions }}\n\nProvide constructive feedback and suggestions."
                },
                {
                  "name": "model_type",
                  "value": "code"
                },
                {
                  "name": "max_tokens",
                  "value": 800
                },
                {
                  "name": "temperature",
                  "value": 0.3
                },
                {
                  "name": "system_prompt",
                  "value": "You are a senior software engineer conducting a code review. Focus on security, performance, maintainability, and best practices. Be constructive and helpful."
                }
              ]
            }
          },
          "id": "ai-review",
          "name": "AI Code Review",
          "type": "n8n-nodes-base.httpRequest", 
          "typeVersion": 4.2,
          "position": [460, 300]
        },
        {
          "parameters": {
            "resource": "review",
            "owner": "={{ $('GitHub PR Webhook').first().json.repository.owner.login }}",
            "repository": "={{ $('GitHub PR Webhook').first().json.repository.name }}",
            "pullRequestNumber": "={{ $('GitHub PR Webhook').first().json.pull_request.number }}",
            "body": "## 🤖 AI Code Review\n\n{{ $json.response }}\n\n---\n*This review was generated by AI and should be considered as initial feedback. Please have a human reviewer validate these suggestions.*",
            "event": "COMMENT"
          },
          "id": "post-review",
          "name": "Post Review Comment",
          "type": "n8n-nodes-base.github",
          "typeVersion": 1,
          "position": [680, 300]
        }
      ],
      "connections": {
        "GitHub PR Webhook": {
          "main": [
            [
              {
                "node": "AI Code Review",
                "type": "main", 
                "index": 0
              }
            ]
          ]
        },
        "AI Code Review": {
          "main": [
            [
              {
                "node": "Post Review Comment",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      }
    },
    {
      "name": "Document Summarizer",
      "description": "Automatically summarize uploaded documents",
      "nodes": [
        {
          "parameters": {
            "path": "document-upload",
            "options": {
              "allowedOrigins": "*"
            }
          },
          "id": "file-webhook",
          "name": "File Upload Webhook",
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 1,
          "position": [240, 300]
        },
        {
          "parameters": {
            "jsCode": "// Extract text from uploaded file\nconst fileData = $input.first().json.files[0];\nconst content = Buffer.from(fileData.data, 'base64').toString('utf8');\n\nreturn {\n  filename: fileData.filename,\n  content: content,\n  size: fileData.size\n};"
          },
          "id": "extract-text",
          "name": "Extract Text",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [460, 300]
        },
        {
          "parameters": {
            "url": "http://localhost:5000/ai-request",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            },
            "sendBody": true,
            "bodyParameters": {
              "parameters": [
                {
                  "name": "prompt",
                  "value": "Please create a comprehensive summary of this document:\n\nFilename: {{ $json.filename }}\nContent:\n{{ $json.content }}\n\nProvide:\n1. Executive Summary (2-3 sentences)\n2. Key Points (bullet list)\n3. Main Conclusions\n4. Action Items (if any)"
                },
                {
                  "name": "model_type",
                  "value": "chat"
                },
                {
                  "name": "max_tokens",
                  "value": 600
                },
                {
                  "name": "temperature",
                  "value": 0.4
                },
                {
                  "name": "system_prompt",
                  "value": "You are an expert document analyst. Create clear, structured summaries that capture the essential information and insights."
                }
              ]
            }
          },
          "id": "ai-summarize",
          "name": "AI Summarize",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.2,
          "position": [680, 300]
        },
        {
          "parameters": {
            "resource": "message",
            "channel": "#documents",
            "text": "📄 **Document Summary Generated**\n\n**File:** {{ $('Extract Text').first().json.filename }}\n**Size:** {{ $('Extract Text').first().json.size }} bytes\n\n{{ $json.response }}"
          },
          "id": "post-slack",
          "name": "Post to Slack",
          "type": "n8n-nodes-base.slack",
          "typeVersion": 2.1,
          "position": [900, 300]
        }
      ],
      "connections": {
        "File Upload Webhook": {
          "main": [
            [
              {
                "node": "Extract Text",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Extract Text": {
          "main": [
            [
              {
                "node": "AI Summarize",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "AI Summarize": {
          "main": [
            [
              {
                "node": "Post to Slack",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      }
    }
  ]
}